
.uber-btn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 110px;
}
.amazon-btn{
    background-color: rgb(255,216, 20);
    height: 36px;
    width: 150px;
    border: none;
    margin-left: 30px;
    border-radius: 20px;
}
.github-btn{
    background-color: rgb(46,164, 79);
    height: 36px;
    width: 110px;
    border: none;
    color: white;
    margin-left: 30px;
    border-radius: 10px;
}.boot{
    margin-top: 20px;
    padding: 15px;
    margin-right: 400px;
    border: 1px solid black;
}
.boot1-btn{
    background-color: rgb(121, 82, 179);
    color: white;
    height: 36px;
    width: 120px;
    border: none;
    border-radius: 4px;
}
.boot2-btn{
    background-color: rgb(255, 255,255);
    color: white;
    height: 36px;
    width: 120px;
    color: rgb(121, 82, 179);;
    border: 1px solid rgb(121, 82, 179);
    border-radius: 4px;
}
.linked{
    margin-top: 20px;
    
}
.linked1-btn{
    background-color: rgb(10, 102, 194);
    padding: 10px 18px;
    color: white;
    border: none;
    border-radius: 20px;
}
.linked2-btn{
    width: 70px;
    background-color:  white;
    padding: 10px 18px;
    color:rgb(10, 102, 194);
    border: 1px solid rgb(10, 102, 194);
    border-radius: 20px;

}

.amazon{
    position: absolute;
    padding: 30px;
    border: 2px green solid ;
    align-items: center;
    margin-top: 30px;
    font-weight: bold ;
}
.amount{
    color: rgb(0, 118, 0);
}
.anchor{
    color: rgb(0, 113, 133);
}
.addToCart{
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 16px; 
    padding: 10px 25px;

}
.buy{
    background-color:rgb(255, 164, 28);
    border: none;
    margin-left: 10px;
    border-radius: 16px; 
    padding: 10px 30px; 
}